{% extends 'index.html' %}

{%block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registrasi</title>
    </head>
    <body>
        <div class="container">
            <!-- Outer Row -->
            <div class="row justify-content-center">
    
                <div class="col-sm-12 col-md-9">
    
                    <div class="card o-hidden border-0 shadow-lg my-5 bg-dark">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-12">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="p-5">
                                        <div class="text-center">
                         <div class="sidebar-brand-icon">
                            <i class="fas fa-warehouse"></i>
                              </div> 
                                  <h1 class="h4 text-light mb-4"><b>SILAHKAN MEMBUAT AKUN !</b></h1>
                                    <div class="sidebar-brand-text mx-3 text-light"> Silahkan inputkan username dan password yang akan dibuat. </div>
                                         <br>	
                                      </div>
                                       <form method="POST" class="text-light">
                                         {% csrf_token %}
                                         {{form.as_p}}
                                         <button>Register</button>
                                        </form>
                                        <!-- <form class="user" method="POST" action="result">
                                         <div class="form-group">
                                            {% csrf_token %}
                                            {{form.as_p}}
                                            <button>Login</button>
                                            <input type="float" name="tahun" id="tahun" class="form-control"  placeholder="Inputkan Tahun" autocomplete="off" required >
                                            </div>
                                            <div class="form-row">
                                         <div class="form-group col-md-12">
                                            <input type="submit" value="Lakukan Prediksi" class="btn btn-block bg-success text-light">
                                            </div>
                                        </div>
                                        </form> -->
                                    </div>
                                </div>							
                            </div>      
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
    </html>
{% endblock %}