<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Prediksi Pengiriman Barang || DASHBOARD </title>
    <link href="{% static 'presentation.png' %}" rel="shortcut icon">

<style>
    body{
	background: rgb(213, 213, 231);
	
}
</style>

</head>

<body>
  {% block content %}

  <nav class="navbar navbar-expand-lg navbar-light bg-transparan fixed-top" id="mainNav">
    <div class="container-fluid">
      <a class="sidebar-brand d-flex align-items-center justify-content-center bg-gray-900" href="http://127.0.0.1:8000/prediksi/dashboard/">
        <div class="sidebar-brand-icon rotate-n-0">
          <img src="{% static 'logo.png' %}" height="30"></img>
        </div>
        <div class="sidebar-brand-text mx-3 text-dark"><b>Prediksi Pengiriman Barang</b></div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="nav-link active text-dark"  aria-current="page" href="predict.html">Prediksi</a>
        <a class="nav-link active text-dark"  aria-current="page" href="chart.html">Chart</a>
        <a class="nav-link active text-dark"  aria-current="page" href="http://127.0.0.1:8000/view">Data Pengiriman Barang</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <a class="dropdown-item" href="http://127.0.0.1:8000/shipment_received">Shipment Received</a>
              <a class="dropdown-item" href="http://127.0.0.1:8000/arrived">Arrived</a> -->
              <!-- <div class="dropdown-divider"></div> -->
              <a class="dropdown-item" href="http://127.0.0.1:8000/type">Type</a>
              <a class="dropdown-item" href="http://127.0.0.1:8000/market">Market</a>
              <a class="dropdown-item" href="http://127.0.0.1:8000/shipping_mode">Shipping Mode</a>
              <a class="dropdown-item" href="http://127.0.0.1:8000/delivery_status">Delivery Status</a>
              <!-- <a class="dropdown-item" href="http://127.0.0.1:8000/shipping_day">Shipping Day</a> -->
            </div>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-light float-center" href="{% url 'logout' %}">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>

  <br><br><br><br>
   
    <div class="container vh-100">
        <h1 class="text-center">Chart</h1>

        <div style="width: 75%;">
            <canvas id="chart"></canvas>
        </div>
    </div>

      <!-- Chart JS -->
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
      <script>

        var config = {
          type: 'bar',
          data: {
            datasets: [{
              data: {{ data|safe }},
              backgroundColor: [
                '#FFD700', '#808080', '#D2691E', '#CD5C5C', '#9ACD32', '#D2B48C'
              ],
              label: 'Tahun'
            }],
            labels: {{ labels|safe }}
          },
          options: {
            responsive: true
          }
        };
    
        window.onload = function() {
          var ctx = document.getElementById('chart').getContext('2d');
          window.myPie = new Chart(ctx, config);
        };
    
      </script>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <footer class="bg-dark text-center text-white" style="background-color: rgba(0, 0, 0, 0.2);">
      <!-- Grid container -->
      <!-- <div class="container p-4 pb-0"> -->
  
      <!-- Copyright -->
      <div class="bg-dark container p-4 text-center" >
        © 2023 Copyright:
        <a class="text-white" href="">Eni</a>
      </div>
      <!-- Copyright -->
  
  <!-- </div> -->
  <!-- Grid container -->
    </footer>

    {% endblock %}
</body>
</html>