{% extends 'index.html' %}

{%block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>
    <body>
             
        <div class="container">
            <!-- Outer Row -->
            <div class="row justify-content-center">
    
                <div class="col-sm-12 col-md-9">
    
                    <div class="card o-hidden border-0 shadow-lg my-5 bg-dark">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-12">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="p-5">
                                        <div class="text-center">
                         <div class="sidebar-brand-icon">
                            <i class="fas fa-warehouse"></i>
                              </div> 
                                  <h1 class="h4 text-light mb-4"><b>SELAMAT DATANG !</b></h1>
                                    <div class="sidebar-brand-text mx-3 text-light"> Silahkan inputkan username dan password </div>
                                         <br>	
                                      </div>
                                      <form class="text-light" method="POST">
                                        {% csrf_token %}
                                        {{form.as_p}}
                                        <button>Login</button>
                                        <br>
                                        <div align="center" class="sidebar-brand-text mx-3 text-light"> Belum memiliki akun? Silahkan daftar. </div>
                                        <div align="center" >
                                            <a href="http://127.0.0.1:8000/prediksi/register/" class="text-info">Mendaftar!</a>
                                          </div>
                                          <div class="float-right" >
                                            <a href="http://127.0.0.1:8000" class="btn btn-secondary btn-sm">Kembali</a>
                                          </div>
                                    </form>
                                        <!-- <form class="user" method="POST" action="result">
                                         <div class="form-group">
                                            {% csrf_token %}
                                            {{form.as_p}}
                                            <button>Login</button>
                                            <input type="float" name="tahun" id="tahun" class="form-control"  placeholder="Inputkan Tahun" autocomplete="off" required >
                                            </div>
                                            <div class="form-row">
                                         <div class="form-group col-md-12">
                                            <input type="submit" value="Lakukan Prediksi" class="btn btn-block bg-success text-light">
                                            </div>
                                        </div>
                                        </form> -->

                                    </div>
                                </div>							
                            </div>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>
{% endblock %}